* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.app-wrapper {
  min-height: 100vh;
}

.app-wrapper .wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}

.app-wrapper .wrapper .header {
  background-color: blue;
}

.app-wrapper .wrapper .main {
  display: -ms-grid;
  display: grid;
  background-color: blueviolet;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 200px 1fr;
      grid-template: 1fr / 200px 1fr;
}

.app-wrapper .wrapper .main .main__nav_items {
  background-color: chocolate;
}

.app-wrapper .wrapper .main .content_img {
  min-width: 300px;
  height: 300px;
}

.app-wrapper .wrapper .footer {
  background-color: chartreuse;
}
