* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.wrapper .header {
  display: grid;
  grid-template: 1fr/1fr minmax(100px, auto) minmax(1000px, auto) 1fr;
  height: 70px;
  background-color: #03545c;
}
.wrapper .header .heder__menu {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.wrapper .header .heder__menu .menu__items {
  display: flex;
  justify-content: space-around;
}
.wrapper .header .heder__menu .menu__items .menu_item {
  padding: 5px;
  margin: 0 40px 0 0;
}
.wrapper .header .heder__menu .menu__items .menu_item .menu_item_sillca {
  font-family: monospace;
  font-size: 20px;
  color: white;
}
.wrapper .logotip {
  margin: 5px;
  grid-column: 2/3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  align-items: center;
}
.wrapper .logotip .logotip_top {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
  background-color: black;
}

.main {
  display: grid;
  background-color: white;
  flex: 1 1 auto;
  grid-template: 1fr/1fr minmax(300px, auto) minmax(1000px, auto) 1fr;
}
.main .main__nav {
  grid-column: 2/3;
  min-height: 100vh;
  background-color: #aaaaaa;
}
.main .main__nav .nav_items__item {
  font-size: 20px;
  padding: 4px 24px;
  margin: 5px;
}
.main .main__nav .nav_items__item .nav__silca {
  color: black;
}
.main .main__nav .nav_items__item:hover {
  font-size: 20px;
  padding: 4px 24px;
  margin: 5px;
  background-color: #d6d6d6;
}
.main .main__nav .nav_items__item:hover .nav__silca {
  color: black;
}
.main .main__content {
  background-color: white;
}

.footer {
  display: flex;
  height: 50px;
  background-color: #03545c;
  justify-content: center;
  align-items: center;
}
.footer .Footer__content {
  font-family: monospace;
  color: white;
}