.profile_content{
    display: grid;
    grid-template:1fr/minmax(200px, auto) 1fr;
    grid-gap: 20px;
    margin: 20px;
    overflow: hidden;
}
.fone{
    height: 200px;
    width: 100px;
    border-radius: 30%;
    border:2px solid black;

}

.profile{

}
.profile_content{
    display: grid;
    grid-template:300px/ minmax(200px, auto) 1fr;
    column-gap: 10px;
}
.content__infoUser{
    padding: 30px;
}
.age{
    margin: 10px;
    font-size: 20px;


}
.birthday{
    margin: 10px;
    font-size: 20px;

}
.city{
    margin: 10px;
    font-size: 20px;
}
.conteiner__img{
    height: 200px;
    border: 4px solid  rgb(57, 137, 96);
    border-radius: 20%;
    overflow: hidden;

}
.conteiner__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content__ava{
    width: 300px;
}