* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


.main {
  display: grid;
  background-color: rgb(245, 245, 245);
  flex: 1 1 auto;
  grid-template: 1fr/1fr minmax(300px, auto) minmax(1000px, auto) 1fr;
}
.main .main__nav {
  grid-column: 2/3;
  min-height: 100vh;
  background-color: #aaaaaa;
}
.main .main__nav .nav_items__item {
  font-size: 20px;
  padding: 4px 24px;
  margin: 5px;
}
.main .main__nav .nav_items__item .nav__silca {
  color: black;
}
.main .main__nav .nav_items__item:hover {
  font-size: 20px;
  padding: 4px 24px;
  margin: 5px;
  background-color: #d6d6d6;
}
.main .main__nav .nav_items__item:hover .nav__silca {
  color: black;
}
.main .main__content {
  background-color: white;
}

